

.auth-card {
    padding: $padding $padding*2;
    background-color: $color-body;
    align-items: center;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.5);
    width: 400px;

    .header {
        display: flex;
        justify-content: center;
        padding: 5px 0;
    }
}
