@import 'variables';
@import 'navbar';
@import "btn";
@import "auth-card";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    background-color: $color-body;
    min-height: 100vh;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.empty-page {
    background-color: #666;
    min-height: 100vh;
}

.default-page {
    background-color: $color-body;
    min-height: 100vh;
}

.w100 {
    width: 100px;
}
